flask>=3.0.0
flask-wtf>=1.2.1
flask-login>=0.6.3
flask-sqlalchemy>=3.1.1
flask-socketio>=5.3.6
werkzeug>=3.0.1
pillow>=10.3.0
supabase>=2.4.0
python-dotenv>=1.0.1
authlib>=1.3.0        # for Google/Facebook OAuth (production)
requests>=2.31.0
gunicorn>=22.0.0      # for Render / PythonAnywhere deployment
pytz